input[type="range"] {
  width: 50%;
  height: 10px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toolbar {
  width: 50%;
}

.toolbar .entry {
  margin-bottom: 5px;
}